@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

nav{
    background-color: white;
    position: fixed;
    width: 100%;
    top: 0;
    display:flex ;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 40px;
}

nav ul{
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}

nav ul li{
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    color: black;
}

nav ul li a:hover{
    color: #FD6F00;
}

.button{
    text-decoration: none;
    background-color: #FD6F00;
    padding: 10px 20px;
    color: white;
    border-radius: 4px;
}

/* ======== HERO SECTION ======== */

#hero-section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 120px 28px 120px;
    gap: 50px;
}

#hi{
    font-size: 20px;
    font-weight: 600;
    margin: 0;
}

h5{
    margin: 0;
    font-size: 28px;
    font-weight: 600;
    color: #FD6F00;
}
h1{
    font-size: 80px;
    font-weight: bold;
    margin: 0;
    line-height: 80px;
}

#designer{
    margin: 0 0 24px 170px;
}

.p-justify{
    max-width: 550px;
    margin-bottom: 32px;
}

#hero-right{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 24px;
}

#socials-icons{
    display: flex;
    gap: 20px;
}

/* ======== SERVICES SECTION ======== */

#services-section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 28px 120px;
    flex-direction: column;
}

#row-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    gap: 30px;
}

h2{
    font-size: 40px;
    font-weight: bold;
    margin: 0;
}

.p-center{
    max-width: 650px;
    text-align: center;
}

.item-container{
    max-width: 20%;
}

.service-title{
    font-size: 24px;
    font-weight: 600;
    margin: 0;
}

/* ======== ABOUT SECTION ======== */

#about-section{
    margin-top: 150px;
    display: flex;
    justify-content: center;
    gap: 50px;
}